.header {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    align-items: center;
    background-color: rgb(241, 241, 241);
    border-bottom: 1px solid rgb(197, 197, 197);
    padding: 0px 20px;
}
.userName {
    font-size: 16px;
    color: rgb(34, 34, 34);
    letter-spacing: 1.2px;
    cursor: pointer;
}
.authBlock {
    justify-self: end;
    grid-column-start: 3;
}
.title {
    color: rgb(34, 34, 34);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
}