.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: rgb(241, 241, 241);
    border-bottom: 1px solid rgb(197, 197, 197);
    padding: 0px 20px;
}
.userName {
    font-size: 16px;
    color: rgb(34, 34, 34);
    letter-spacing: 1.2px;
    cursor: pointer;
}
.title {
    color: rgb(34, 34, 34);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
    flex: 0 0 55%;
    text-align: right;
}