@import '@fontsource/roboto';

$headerHeight: 60px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    list-style: none;
}
body,
#root {
    height: 100vh;
}
.App {
    display: grid;
    grid-template: $headerHeight 1fr / 1fr;
}
.wrapper {
    display: flex;
    height: calc(100vh - $headerHeight);
    justify-content: space-between;
}
.content-wrapper {
    flex: 1 1 auto;
    padding: 20px 60px;
}
.registrationBlock {
    display: flex;
    gap: 5px;
    font-size: 14px;
    margin: 10px 0px;
}
.createAccount {
    color: rgb(73, 73, 241);
    cursor: pointer;
}
@media (max-width: 768px) {
    .content-wrapper {
        padding: 20px 30px;
    }   
}
@media (max-width: 600px) {
    .wrapper {
        flex-direction: column;
    }
    .content-wrapper {
        padding: 20px;
    }
}